<ion-header>
  <ion-toolbar>
    <ion-title>characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   <div *ngIf="characters | async as personajes">
    <ion-item *ngFor="let personaje of personajes.data.results">
      <ion-avatar>
        <img src="{{ personaje.thumbnail.path }}.{{ personaje.thumbnail.extension }}">
      </ion-avatar>
      <ion-label>{{ personaje.name }}</ion-label>
    </ion-item>
   </div>
  </ion-list>
</ion-content>
